.wrapper{
  background-color: black;
  display: grid;
  grid-template-columns: 190px 1fr 20vw;
  column-gap: 3rem;
  padding: 1rem 12rem;
  padding-bottom: 20rem;
}

@media screen and (max-width: 1400px) {
  .wrapper{
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 1240px) {
  .wrapper{
    grid-template-columns: 180px 1fr;
    padding-right: 1rem;
    padding-left: 1rem;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .wrapper{
    grid-template-columns: 50px 1fr;
  }
}

@media screen and (max-width: 500px) {
  .wrapper{
    grid-template-columns: 1fr;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.light{
  background-color: rgb(235,245,255);
}